:root{
    --background-color: #f6f6f6;
    --blue-color: #03a9f4;
    --green-color: #218c74;
    --dark-blue: #227093;
    --scarlet: #b33939;
}
/* Displays */
.d-block{
    display: block;
}

.d-in-block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.between-flex{
    display: flex;
    justify-content: space-between;
}
.gap-20{
    gap: 20px;
}
/* Displays */
/* width and height */
.w-full{
    width: 100%;
}
.w-half{
    width: 50%;
}
/* width and height */
/* Colors */
.c-white{
    color: white;
}
.c-black{
    color: black;
}
.c-grey{
    color: #888;
}
.c-blue{
    color: var(--blue-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-blue-dark{
    background-color: var(--dark-blue);
}
.bg-scarlet{
    background-color: var(--scarlet);
}
.bg-offwhite{
    background-color: var(--background-color);
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: #333;
}
/* Colors */
/* padding and margin */
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-40{
    padding-top: 40px;
}
.pb-40{
    padding-bottom: 40px;
}
.pl-15{
    padding-left: 15px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.ml-15{
    margin-left: 10px;
}
/* padding and margin */
/* Fonts and Text */
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-25{
    font-size: 25px;
}
.fs-35{
    font-size: 35px;
}
.fw-normal{
    font-weight: normal;
}
.fw-light{
    font-weight: 300;
}
.fw-bold{
    font-weight: 600;
}
.line-height{
    line-height: 1.6;
}
.txt-c{
    text-align: center;
}
/* Fonts and Text */